<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>CIBER-SHEM </h2>
            </div>
            <ul class="menu-list">
                <li class="menu-item" id="inicio"><a href="principal">INICIO</a></li>
                <li class="menu-item" id="registros">
                    <a>REGISTROS</a>
                    <ul class="submenu">
                        <li><a href="usuario">USUARIO</a></li>
                    </ul>
                </li>
                <li class="menu-item" id="mantenimiento">
                    <a>ACTUALIZAR</a>
                    <ul class="submenu">
                        <li><a href="estudianteAct">ESTUDIANTE</a></li>
                        <li><a href="docenteAct">DOCENTE</a></li>
                        <li><a href="personalAct">PERSONAL ADMIN</a></li>
                        <li><a href="ingresoAct">INGRESO</a></li>
                        <li><a href="salidaAct">SALIDA</a></li>
                        <li><a href="permisoIngresoAct">PERMISO INGRESO</a></li>
                        <li><a href="permisoSalidaAct">PERMISO SALIDA</a></li>
                    </ul>
                </li>
            </ul>
            <div class="logout">
                <a href="">CERRAR SESIÓN</a>
            </div>
        </aside>
        <main class="main-content">
            <div class="toast-message" *ngIf="mensajeVisible">
                <div class="dialog-container">
                    <div class="dialog-icon">
                        <span>&#x2714;</span>
                    </div>
                    <h2 class="dialog-title">¡Actualización exitosa!</h2>
                    <p class="dialog-message">Código: {{ codigoActualizado }}</p>
                    <p class="dialog-message">Ciclo: {{ cicloActualizado }}</p>
                </div>
            </div>
            <div class="toast-messag" *ngIf="mensajeVisibl">
                <div class="dialog-container">
                    <div class="dialog-icon">
                        <span>&#x2714;</span>
                    </div>
                    <h2 class="dialog-title">Estudiante eliminado <br> exitosamente!</h2>
                    <p class="dialog-message">Nombre: {{ nombreEliminado }}</p>
                    <p class="dialog-message">Código: {{ codigoEliminado }}</p>
                </div>
            </div>                         
            <h1>Listado de Estudiantes</h1>
            <div class="filtro-estudiantes-container">
                <!-- Filtro a la izquierda -->
                <div class="filtro-estudiantes">
                  <input 
                    type="text" 
                    [(ngModel)]="filtroTexto" 
                    (ngModelChange)="buscarEstudiantes()"
                    (keydown)="prevenirEntradaNoAlfanumerica($event)"
                    (keydown)="prevenirEspaciosExcesivos($event)"
                    (paste)="validarPegado($event)"
                    placeholder="Buscar por nombre o código de estudiante" 
                    class="input-buscar"
                  />
                </div>
              
                <!-- Botones al centro -->
                <div class="botones-descargar">
                  <button (click)="descargarPDF()" class="btn-descarga">PDF</button>
                  <button (click)="exportarExcel()" class="btn-descargar">EXCEL</button>
                </div>
              
                <!-- Opciones a la derecha -->
                <div class="menu-filtro">
                  <div class="opciones">
                    <label class="opcion-check">
                      <input type="radio" name="filtroAutorizacion" value="todos" 
                             [(ngModel)]="filtroAutorizacion" (change)="cambiarFiltro('todos')" />
                      <span class="checkmark"></span>
                      Todos
                    </label>
                    <label class="opcion-check">
                      <input type="radio" name="filtroAutorizacion" value="autorizados" 
                             [(ngModel)]="filtroAutorizacion" (change)="cambiarFiltro('autorizados')" />
                      <span class="checkmark"></span>
                      Autorizados
                    </label>
                    <label class="opcion-check">
                      <input type="radio" name="filtroAutorizacion" value="no_autorizados" 
                             [(ngModel)]="filtroAutorizacion" (change)="cambiarFiltro('no_autorizados')" />
                      <span class="checkmark"></span>
                      No Autorizados
                    </label>
                  </div>
                </div>
              </div>              
            <br>
            <div class="lista-estudiantes">
                <table>
                    <thead>
                        <tr>
                            <th class="col-id">ID</th>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-apellido">Apellido</th>
                            <th class="col-codigo">Codigo</th>
                            <th class="col-tipo-doc">Tipo Documento</th>
                            <th class="col-doc">Documento</th>
                            <th class="col-carrera">Carrera</th>
                            <th class="col-usuario">Ciclo</th>
                            <th class="col-imagen">Imagen</th>
                            <th class="col-autorizacion">Autorización</th>
                            <th class="col-eliminar">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiante of estudiantesFiltrados | slice:(paginaActual * elementosPorPagina):(paginaActual * elementosPorPagina + elementosPorPagina)">
                            <td class="col-id">{{ estudiante.data.idEstudiante }}</td>
                            <td class="col-nombre">{{ estudiante.data.nombres }}</td>
                            <td class="col-apellido">{{ estudiante.data.apellidos }}</td>
                            <td class="col-codigo">{{ estudiante.data.codUsuario }}</td>
                            <td class="col-tipo-doc">{{ getTipoDocumento(estudiante.data.idTipoDocumento) }}</td>
                            <td class="col-doc">{{ estudiante.data.numDocumento }}</td>
                            <td class="col-doc">{{ estudiante.data.carrera }}</td>
                            <td class="col-ciclo">
                                <select [(ngModel)]="estudiante.data.ciclo" (ngModelChange)="actualizarCiclo(estudiante)">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                            </td>                              
                            <td class="col-imagen">
                                <img src="{{ estudiante.data.imageUrl }}" alt="Imagen de estudiante">
                            </td>
                            <td class="col-autorizacion">
                                <button
                                    (click)="toggleAutorizacion(estudiante)"
                                    [class.activo]="estudiante.data.autorizacion === 'Autorizado'"
                                    [class.inactivo]="estudiante.data.autorizacion === 'No Autorizado'"
                                >
                                    {{ estudiante.data.autorizacion }}
                                </button>
                            </td>
                            <td class="col-eliminar">
                                <button (click)="eliminarEstudiante(estudiante)" class="btn-eliminar">
                                    <i class="fas fa-trash-alt"></i> <!-- Ícono de tacho -->
                                </button>
                            </td>                            
                        </tr>
                    </tbody>                                                                                                     
                </table>
                <mat-paginator [length]="estudiantesFiltrados.length" [pageSize]="4" [pageSizeOptions]="[4]" (page)="cambiarPagina($event)">
                </mat-paginator>                
            </div>
        </main>
    </div>
</body>
</html>
